<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Website</title>
</head>
<body>
{{> header}}
<p>This is the Projects page, please check out these projects:</p>

{{> footer}}
</body>
</html>